*{
    margin :0 ;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;

}
header li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color :#333;
    font-weight: 400;
    margin : 40px;
    text-decoration: none;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color :#333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span {
    color :#017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p {
    color :#333;
}
.content .textBox  a {
    display: inline-block;
    margin-top :20px;
    padding: 8px 20px;
    background: #017143;
    color:#fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox {
      width: 600px;
      display:flex;
      justify-content: flex-start;
      padding-right: 50px;
      margin-top: 50px;
}
.content .imgBox img {
    max-width: 340px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.thumb li :hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
.social {
    position: absolute;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.social li{
    list-style: none;
}
/*filter : inverse de couleur : noir deviendra blanc et inverse*/
.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#017143;
    clip-path: circle(600px at right 800px);
}

/* Styles pour les appareils de petite taille (par exemple, smartphones) */
@media (max-width: 768px) {
    section {
        padding: 50px; /* Ajustez la marge intérieure selon vos besoins */
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 20px;
        flex-direction: row;
        align-items: flex-start; /* Aligner le contenu à gauche */
    }

    header .logo {
        max-width: 100px;
        margin-bottom: 20px; /* Ajoutez une marge en bas pour l'espace */
    }
    header ul {
        flex-direction: row; /* Afficher les liens du menu côte à côte */
        margin-top: 0; /* Supprimez la marge supérieure */
    }

    header ul li {
        margin: 0 10px; /* Espace entre les liens du menu */
    }
    header ul li a {
        margin: 10px 0;
        font-weight: bold;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .textBox h2 {
        font-size: 2em;
        margin-top: 135px;
    }

    .content .textBox {
        text-align: center; /* Centrer horizontalement le texte */
        max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
        margin: 2px; /* Centrer le paragraphe horizontalement */
    }

    .content .textBox p {
        font-size: 19px;
        margin-top: 40px; /* Espace entre le titre et le paragraphe */
    }

    .content .textBox a {
        font-size: 0.8em;
    }

    .content .imgBox {
        max-width: 100%;
        width: 100%; /* Redimensionne la boîte d'image pour remplir l'écran */
        padding: 0;
        margin-top: 20px;
        left:0;
    }

    .content .imgBox img {
        max-width: 100%;
        height: auto; /* Ajuste la hauteur proportionnellement */
    }
    

    .thumb {
        position: static;
        transform:none;
        justify-content: center;
    }

    .thumb li {
        margin: 0 10px;
    }

    .thumb li :hover {
        transform: translateY(-15px);
    }

    .thumb li img {
        max-width: 40px;
    }
    .social {
        position: absolute;
        top: 50%;
        right: 20px; /* Ajustez la valeur de droite selon vos besoins */
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .social li {
        margin: 10px 0; /* Ajustez la marge entre les icônes */
    }

    
    .content {
        position: relative; /* Ajoutez une position relative pour que z-index fonctionne */
    }
    
    .imgBox {
        position: relative; /* Ajoutez une position relative à imgBox */
    }
    .circle {
        position: absolute;
        bottom: -100px; /* Déplacez le cercle vers le bas en ajustant la valeur de "bottom" */
        left: 0;
        width: 100%;
        height: 100%; /* Augmentez la hauteur du cercle pour le déplacer plus bas */
        clip-path: circle(50%); /* Crée un cercle à 50% de la taille de l'élément */
        background: #eb7495;
        z-index: 0;
    }
    

}
